# Server
HOST="0.0.0.0"
PORT=8055
PUBLIC_URL=http://localhost:8055

# Cross-Origin Resource Sharing
CORS_ENABLED=true
CORS_ORIGIN=http://localhost:3000

# Database
DB_CLIENT=pg
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=your_database_name
DB_USER=your_database_user
DB_PASSWORD=your_database_password

# Security
SECRET=your_directus_secret_key
ADMIN_EMAIL=your_admin_email@example.com
ADMIN_PASSWORD=your_admin_password

# Cloudflare Turnstile
TURNSTILE_SECRET_KEY=your_cloudflare_turnstile_secret_key
FLOWS_ENV_ALLOW_LIST=TURNSTILE_SECRET_KEY

# Email
EMAIL_FROM=email_address
EMAIL_TRANSPORT=smtp
EMAIL_SMTP_HOST=smtp_host
EMAIL_SMTP_PORT=port
EMAIL_SMTP_USER=email_address
EMAIL_SMTP_PASSWORD=password
EMAIL_SMTP_SECURE=

# Cal.com Webhook
CAL_WEBHOOK_SECRET=your_cal_webhook_secret

# Telemetry
TELEMETRY=false

# Storage
STORAGE_LOCATIONS=local
STORAGE_LOCAL_ROOT=./uploads

# File Size
FILES_MAX_UPLOAD_SIZE=50mb
