.button-theme{
    background: #eae328;
    color: #fff;
}

.button-theme:hover{
    background: #d6cf23;
    color: #fff;
}

.main-header .dropdown-menu a:hover {
    background: transparent;
    color: #eae328;
}

.setting-button {
    background: #eae328;
}

.close-offcanvas{
    color: #eae328;
}

.main-header .navbar-expand-lg .navbar-nav .link-color:hover {
    color: #eae328;
}

#page_scroller {
    background: #eae328;
}

.btn-color {
    background: #eae328;
    border-color: #eae328;
}

.a-color {
    color: #eae328;
}

input[type=checkbox]:checked + label:before {
    background: #eae328;
}

.checkbox-theme input[type="checkbox"]:checked + label::before {
    border: 2px solid #eae328;
    background: #eae328;
}

.border-thn {
    color: #eae328;
    border: solid 2px #eae328;
    border-radius: 50px;
}

.border-thn:hover {
    color: #fff;
    border: solid 2px #eae328;
    background: #eae328;
}

.btn-outline:hover {
    border: solid 1px #eae328;
    background: #eae328;
    color: #fff;
}

.btn-outline {
    border: solid 1px #eae328;
    color: #eae328;
}

.footer .form-inline .btn {
    color: #fff;
    background: #eae328;
}

.counters::before {
    background: #eae328;
}

.testimonial::before {
    background: #eae328;
}

.features-info .icon i {
    color: #eae328;
}

.blog .post-meta a{
    color: #eae328;
}

.category ul li a:hover{
    color: #eae328;
}

.services ul li a:hover{
    color: #eae328;
}

.services ul li i {
    color: #eae328;
}

.btn-color:hover {
    background: #eae328;
    border-color: #eae328;
}

.blog .date-box {
    background: #eae328;
}

.blog .date-box::after {
    border-left: 15px solid #eae328;
}

.popular-tags ul li a:hover {
    border: solid 1px #eae328;
    background: #eae328;
    color: #fff;
}

/** MEDIA **/
@media (max-width: 992px) {
    .main-header .navbar-expand-lg .navbar-nav .nav-link:hover {
        color: #eae328 !important;
    }

    .navbar-light .navbar-toggler span{
        color: #eae328;
    }
}

@media (min-width: 991px) {
    .sticky-header .navbar-expand-lg .navbar-nav .active .nav-link {
        color: #fff !important;
    }

    .sticky-header .navbar-expand-lg .navbar-nav .nav-link:hover {
        color: #fff !important;
        opacity: .8;
    }

    .header-shrink .navbar-expand-lg .navbar-nav .active .nav-link {
        color: #515151 !important;
    }

    .header-shrink .navbar-expand-lg .navbar-nav .nav-link:hover {
        color: #515151 !important;
    }
}





